body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    color: navy;
}

p {
    font-size: 18px;
}

a {
    padding: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: navy;
  color: white;
  padding: 15px 30px;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

button {
  background: orange;
  color: black;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: gold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: lightblue;
}

.section {
  padding: 50px 30px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card,
.project-card {
  background: rgb(195, 247, 255);
  padding: 25px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideInFromSide 0.6s ease both;
  animation-delay: calc(var(--i) * 0.5s);
}


.project-card a {
  color: navy;
  font-weight: bold;
}

.footer {
  text-align: center;
  background: navy;
  color: white;
  padding: 20px;
}

/* Dark mode */
.dark {
  background-color: #111;
  color: white;
}

.dark h1 {
  color: lightblue;
}

.dark .hero {
  background-color: #333;
}

.dark button {
  background-color: rgb(230, 100, 0);
  color: black;
}

.dark button:hover {
  background: orange;
}

.dark .card,
.dark .project-card {
  background-color: #14003e;
  color: white;
}

.dark .project-card a,
.dark a {
  color: orange;
}

@keyframes slideInFromSide {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Prevents image distortion */
    margin: 20px;
}

/* Circular image */
.profile-circle {
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#rotating-text1, 
#rotating-text2 {
  opacity: 1;
  transition: opacity 0.6s ease;
  color: rgb(0, 70, 98);
}

#rotating-text1.fade-out, 
#rotating-text2.fade-out {
  opacity: 0;
}